<h1>Admin - Products</h1>

<div class="well well-sm">

  <form class="form-inline" {{action 'addNewProduct' newProductName newProductSku newProductPrice on='submit'}}>
    <div class="form-group">
      <label for="new-product">Product:</label>
      {{input type="text" class="form-control" id="new-product-name" placeholder="Product name" value=newProductName}}
      <label for="new-product">Sku:</label>
      {{input type="text" class="form-control" id="new-product-sku" placeholder="SKU" value=newProductSku}}
      <label for="new-product">Unit Price:</label>
      {{input type="text" class="form-control" id="new-product-price" placeholder="Unit Price" value=newProductPrice}}
    </div>
    <button type="submit" class="btn btn-default">Add</button>
  </form>
</div>

<table class="table table-striped">
  <caption>List of products</caption>
  <thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>sku</th>
    <th>Unit Price</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  {{#each model as |product|}}
      <tr>
        <td>{{product.id}}</td>
        <td {{action 'editProduct' product}}>
          {{#if product.isEditing}}
            {{input value=product.name}}
          {{else}}
            {{product.name}}
          {{/if}}
        </td>
        <td {{action 'editProduct' product}}>
          {{#if product.isEditing}}
            {{input value=product.sku}}
          {{else}}
            {{product.sku}}
          {{/if}}
        </td>
        <td {{action 'editProduct' product}}>
          {{#if product.isEditing}}
            {{input value=product.unitPrice}}
          {{else}}
            {{product.unitPrice}}
          {{/if}}
        </td>
        <td>
          {{#if product.isEditing}}
            <button class="btn btn-xs btn-success" {{action 'updateProduct' product}}>Save</button>
            <button class="btn btn-xs btn-info" {{action 'cancelProductUpdate' product}}>Cancel</button>
          {{else}}
            <button class="btn btn-xs btn-danger" {{action 'deleteProduct' product}}>Del</button>
            <button class="btn btn-xs" {{action 'editProduct' product}}>Edit</button>
          {{/if}}
        </td>
      </tr>
  {{/each}}
  </tbody>
</table>

Number of products: {{model.length}}